snippet slide "line for slides" b
%% Slide: $1;;
endsnippet

snippet screenshot "line for screenshot" b
%% Screenshot: $1;;
endsnippet

snippet screencast "line for screencast" b
%% Screencast: $1;;
endsnippet

snippet read "READ this"
READ $1;;
endsnippet

snippet time "time in minutes and seconds"
($1'$2")
endsnippet
